@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(37% 0.034 259.733);
  --color-base-300: oklch(44% 0.017 285.786);
  --color-base-content: oklch(98% 0.002 247.839);
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

h2 {
  @apply text-4xl font-bold my-2;
}
h3 {
  @apply text-2xl font-bold;
}

label {
  @apply mb-1;
}

.btn:not(.btn-circle) {
  @apply rounded-md;
}

body {
  top: 0;
  left: 0;
  bottom: 2;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("/public/bg.svg");
}
